In [8]:
import pandas as pd
df=pd.read_csv('C:\\Users\\Dell\\Downloads\\LR_wine.csv',header=None)
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(df.iloc[:,])

In [15]:
x=df[list(df.columns[:-1])]
y=df.iloc[:,-1]

0      1065
1      1050
2      1185
3      1480
4       735
       ...
173     740
174     750
175     835
176     840
177     560
Name: 13, Length: 178, dtype: int64

In [13]:
#print(x)
#print(y)

     0      1     2     3     4    5     6     7     8     9      10    11  \
0     1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29   5.64  1.04
1     1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
2     1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03
3     1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.80  0.86
4     1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04
..   ..    ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...
173   3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
174   3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70
175   3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59
176   3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60
177   3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

       12
0    3.92
1    3.40
2    3.17
3    3.45
4    2.93
..    ...
173  1.74
174  1.56
175  1.56
176  1.62
177  1.60

[178 rows x 13 columns]
0      1065
1      1050
2      1185
3      1480
4       735
       ...
173     740
174     750
175     835
176     840
177     560
Name: 13, Length: 178, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train ,x_test,y_train,y_test=train_test_split(x,y,random_state=33)
print(x_train.shape)

(133, 13)

In [20]:
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred=regressor.predict(x_test)
y_pred

array([ 990.45571603, 1060.23758877,  466.15041512, 1123.15773849,
        437.34796401, 1258.20286305, 1031.92742502, 1276.31791995,
        775.84261726,  488.04926098, 1185.06531674,  648.49852634,
        959.90315881,  694.80295616,  487.81672172,  621.08961966,
        483.42386467,  377.18144375, 1051.97893261,  743.27663855,
        431.41967669,  482.9643208 ,  651.40258301,  554.47445858,
        414.45971684,  496.37329255,  541.37662995,  695.67653002,
        373.82680821,  677.7298002 ,  556.59977954,  536.14768806,
        977.55574457,  708.62081696, 1106.7967176 ,  568.68113623,
       1043.12922298,  556.86620543,  532.30241151,  906.5591778 ,
        730.0874522 ,  447.45226732,  953.35751146,  556.64229563,
       1074.05131575])

In [23]:
print('R-squared :',regressor.score(x_test,y_test))

R-squared : 0.6358648785202713

In [25]:
for i, pred in enumerate(y_pred):
    print('predicted : %s, actual: %s'%(pred,y_test.iloc[i]))

predicted : 990.455716033254, actual: 1285
predicted : 1060.237588772165, actual: 1060
predicted : 466.1504151163999, actual: 352
predicted : 1123.1577384912846, actual: 1045
predicted : 437.3479640059612, actual: 630
predicted : 1258.202863046651, actual: 1547
predicted : 1031.9274250211795, actual: 1035
predicted : 1276.3179199486779, actual: 1310
predicted : 775.8426172583354, actual: 560
predicted : 488.0492609796362, actual: 650
predicted : 1185.0653167391406, actual: 1130
predicted : 648.4985263363113, actual: 470
predicted : 959.9031588063771, actual: 1020
predicted : 694.8029561576325, actual: 630
predicted : 487.81672171794514, actual: 570
predicted : 621.0896196575549, actual: 345
predicted : 483.42386467102796, actual: 562
predicted : 377.1814437500955, actual: 564
predicted : 1051.9789326118635, actual: 1095
predicted : 743.2766385534769, actual: 835
predicted : 431.419676691738, actual: 780
predicted : 482.9643208043828, actual: 580
predicted : 651.4025830118071, actual: 937
predicted : 554.4744585798264, actual: 463
predicted : 414.4597168445183, actual: 342
predicted : 496.37329254636074, actual: 407
predicted : 541.3766299504751, actual: 495
predicted : 695.6765300220771, actual: 840
predicted : 373.82680821316126, actual: 830
predicted : 677.7298001959648, actual: 355
predicted : 556.5997795351844, actual: 714
predicted : 536.1476880560881, actual: 855
predicted : 977.5557445721549, actual: 660
predicted : 708.6208169590199, actual: 678
predicted : 1106.796717603925, actual: 1150
predicted : 568.6811362320814, actual: 880
predicted : 1043.1292229774938, actual: 985
predicted : 556.866205428929, actual: 372
predicted : 532.3024115085575, actual: 520
predicted : 906.5591777977047, actual: 1035
predicted : 730.0874521961698, actual: 675
predicted : 447.45226732492193, actual: 312
predicted : 953.357511458242, actual: 885
predicted : 556.6422956285771, actual: 630
predicted : 1074.051315749778, actual: 1290