In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scalar=preprocessing.MinMaxScaler()
scaled_values=pd.DataFrame(scalar.fit_transform(data),columns=['col1','col2'])
print(pd.DataFrame(data))
print(scaled_values)

     0   1
0 -1.0   2
1 -0.5   6
2  0.0  10
3  1.0  18
   col1  col2
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  1.00  1.00

In [4]:
scaled_values.groupby(lambda idx :0).agg(['min','max'])

  col1      col2
   min  max  min  max
0  0.0  1.0  0.0  1.0