In [4]:
import pandas as pd
df=pd.read_csv('C:\\Users\\Dell\\Documents\\train.tsv',delimiter='\t',header=0)
df

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [17]:
print(df.count())

PhraseId      156060
SentenceId    156060
Phrase        156060
Sentiment     156060
dtype: int64

In [11]:
print(df.shape)

(156060, 4)

In [20]:
print(df.Sentiment.unique())
print(df.Sentiment.nunique())
print(df['Sentiment'].value_counts())

[1 2 3 4 0]
5
2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model.logistic import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV


def main():
    pipeline=Pipeline([
                      ('vect',TfidfVectorizer(stop_words='english')),
                      ('clf',LogisticRegression(max_iter=1000))
                      ])
   
    parameters={
        'vect__max_df':(0.25,0.5),
        'vect__ngram_range':((1,1),(1,2)),
        'vect__use_idf':(True,False),
        'clf__C':(0.1,1,10)
    }
    
    
    x=df['Phrase']
    y=df.Sentiment
    #print(x)
    #print(y)
    x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.5 )
    grid_search=GridSearchCV(pipeline,parameters,n_jobs=-1,
                        verbose=1,scoring='accuracy',cv=3)
    grid_search.fit(x_train,y_train)
    print('Best score : %0.3f'%grid_search.best_score_)
    print('Best parameters set:')
    best_parameters=grid_search.best_estimator_.get_params()
    for param_name in sorted(parameters.keys()):
        print('\t%s : %r'%(param_name,best_parameters[param_name]))
    predictions=grid_search.predict(x_test)
    print('Accuracy:',accuracy_score(y_test,predictions))
    print('confusion matrix:',confusion_matrix(y_test,predictions))
    print('Classification report:',classification_report(y_test,predictions))

if __name__=='__main__':
    main()

Fitting 3 folds for each of 24 candidates, totalling 72 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  7.1min